@{
    ViewData["Title"] = "Check Out";
}
<div class="container-fluid content-inner pb-0" id="page_layout">
    <div class="row">
        <ul class="text-center iq-product-tracker mb-0 py-4" id="progressbar">
            <li class="active iq-tracker-position-0" id="iq-tracker-position-1">Cart</li>
            <li class="iq-tracker-position-0" id="iq-tracker-position-2">Checkout</li>
            <li class="iq-tracker-position-0" id="iq-tracker-position-3">Payment</li>
        </ul>
        
        <vc:cart></vc:cart>
        <vc:checkout></vc:checkout>
        <vc:payment></vc:payment>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            document.querySelectorAll('.iq-quantity-minus').forEach(function (button) {
                button.addEventListener('click', function () {
                    var cartId = $(this).data('cart-id');
                    $.ajax({
                        url: `/User/Cart/Decrease?cartId=${cartId}`,
                        method: 'POST',
                        success: function (data) {
                            console.log("data", data);
                            if (data.success) {
                                location.reload();
                            } else {
                                swal({
                                    title: 'Thất bại!',
                                    text: 'Lỗi giảm số lượng đơn hàng.',
                                    icon: 'warning'
                                });
                            }
                            // Xác định hàng cần xóa dựa trên categoryId hoặc bất kỳ thông tin nào đủ để xác định
                        },
                        error: function (error) {
                            console.log("error", error);
                        }
                    });
                });
            });

            document.querySelectorAll('.iq-quantity-plus').forEach(function (button) {
                button.addEventListener('click', function () {
                    var cartId = $(this).data('cart-id');
                    $.ajax({
                        url: `/User/Cart/Increase?cartId=${cartId}`,
                        method: 'POST',
                        success: function (data) {
                            console.log("data", data);
                            if (data.success) {
                                location.reload();
                            } else {
                                swal({
                                    title: 'Thất bại!',
                                    text: 'Lỗi tăng số lượng đơn hàng.',
                                    icon: 'warning'
                                });
                            }
                            // Xác định hàng cần xóa dựa trên categoryId hoặc bất kỳ thông tin nào đủ để xác định
                        },
                        error: function (error) {
                            console.log("error", error);
                        }
                    });
                });
            });

            // Lắng nghe sự kiện khi nút xác nhận xóa trong modal được click
            $('.btn-delete-cart').click(function () {
                // Lấy ID của danh mục muốn xóa từ thuộc tính data của nút xác nhận xóa
                var cartId = $(this).data('cart-id');
                console.log("cartId", cartId);
                // Gửi yêu cầu xóa đến controller
                $.ajax({
                    url: `/User/Cart/Delete?cartId=${cartId}`,
                    method: 'POST', // hoặc 'GET' tùy thuộc vào phương thức của controller
                    success: function (data) {
                        // Xử lý kết quả trả về từ controller (nếu cần)
                        // ...
                        console.log("data", data);
                        if (data.success) {

                            swal({
                                title: 'Thành công!',
                                text: 'Sản phẩm của bạn đã được xóa khỏi giỏ hàng.',
                                icon: 'success',
                            }).then((result) => {
                                    location.reload();
                            });
                        } else {
                            swal({
                                title: 'Thất bại!',
                                text: 'Lỗi khi xóa đơn hàng.',
                                icon: 'warning'
                            });
                        }
                        // Xác định hàng cần xóa dựa trên categoryId hoặc bất kỳ thông tin nào đủ để xác định
                    },
                    error: function (error) {
                        console.log("error", error);
                    }
                });
            });
        });
    </script>
}